.sidebar{
	flex: 1;
	position: sticky;
	height: 100vh;
	top: 0;
	background-color: rgb(243, 67, 67);
}

.sidebarWrapper{
	padding: 20px;
}


.sidebarLogo{
	width: 100px;
	height: 120px;
	margin: 10px 0 10px 60px;
}

.sidebarTitle{
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}

.sidebarLine{
	width: 90%;
	border: 1px solid white;
	margin: 20px 0 0 5px;
}

.sidebarUlList{
	margin-left:10px;
	list-style: none;
}

.sidebarLink{
	text-decoration: none;
}

.sidebarList{
	color: #fff;
	display: flex;
	margin-bottom: 20px;
	cursor: pointer;
	font-weight: 400;
	align-items: center;
}

.sidebarIcon{
	margin-right: 10px;
	font-size: 25px !important;
	color: black;
	background-color: yellow;
	padding: 5px;
	border-radius: 10px;
}