.password{
    flex: 4;
	padding: 30px;
	margin-top: 70px;
	background: rgb(248, 248, 248);
    height: 80vh;
}

.passwordTitle{
    color: #808080;
}

.passwordForm{
    margin-top: 30px;
    line-height: 50px;
}

.passwordForm label{
    margin-right: 10px;
}

#agree{
    margin-right: 10px;
}

label span{
    color: red;
}

.passwordForm button{
    background-color: rgb(243, 67, 67);
    border: none;
    color: #ffff;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
}
